<div id="travel" class="section section--white section--travel">
  <div class="l-constrain">
    {% if post.travel_title %}
      <h1 class="section__title">{{ post.travel_title }}</h1>
    {% endif %}

    <div class="section__map"></div>
    <div class="section__map-marker"></div>

    <div class="section__split-content">
      {% if post.travel_split %}
        {{ post.travel_split }}
      {% endif %}
    </div>

    <div class="section__hotels">
      {% if post.travel_hotels %}
        {{ post.travel_hotels }}
      {% endif %}
    </div>

    <div class="hotel-grid">
      <div class="hotel-grid__item">
        <h3 class="hotel-grid__title">{{ post.hotel_1_title }}</h3>
        <div class="hotel-grid__summary">{{ post.hotel_1_summary }}</div>
        <a href="{{ post.hotel_1_link }}" class="hotel-grid__link button button--black">Read More</a>
      </div>
      <div class="hotel-grid__item">
        <h3 class="hotel-grid__title">{{ post.hotel_2_title }}</h3>
        <div class="hotel-grid__summary">{{ post.hotel_2_summary }}</div>
        <a href="{{ post.hotel_2_link }}" class="hotel-grid__link button button--black">Read More</a>
      </div>
      <div class="hotel-grid__item">
        <h3 class="hotel-grid__title">{{ post.hotel_3_title }}</h3>
        <div class="hotel-grid__summary">{{ post.hotel_3_summary }}</div>
        <a href="{{ post.hotel_3_link }}" class="hotel-grid__link button button--black"> Read More</a>
      </div>
    </div>

    <div class="section__more">
      {% if post.travel_more %}
        {{ post.travel_more }}
      {% endif %}
    </div>

  </div>
</div>

